**_packaging_tutorial**
**__pycache__
*.py[cod]
*$py.class
**scratch**
**.env
**venv
**.DS_Store
**dist
**build
**.egg-info
tests/*.html
data/
.pytest_cache/
.ruff_cache/
examples/*.json
examples/*.html
experiments/MINE/results
.gcloud
experiments/MINE/answers.json
experiments/MINE/essays.json
output
logs
